# Database Configuration
# Replace with your MongoDB connection string
DATABASE_URL=mongodb://localhost:27017
DB_NAME=agent_starter_db

# JWT Configuration
# Generate strong secrets for production
JWT_SECRET= 9BSoCVjW5OCYa5unxPWZTRaP6XALU/JbFtL4QPdd9X8=
JWT_ISSUER=agent-starter-app

# NextAuth Configuration
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=nmpM+Yx9tTGVX3ro2A7KInGvOXviMwxLAIrN1oTAjCE=

# OAuth Providers (Optional - for social login)
# Google OAuth
GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET


# GitHub OAuth
GITHUB_CLIENT_ID=Ov23lioUuMYIkjT4s2OW
GITHUB_CLIENT_SECRET=fd0d2286e639fe2c163eb0585e735cbe1875b844

# Email Configuration (SMTP)
# Replace with your email service provider details
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=divyasood253@gmail.com
SMTP_PASS=idyt lexg geem ekft
SMTP_FROM=divyasood253@gmail.com

# LiveKit Configuration (for voice AI features)
LIVEKIT_URL=wss://springboard-ktdmubu1.livekit.cloud
LIVEKIT_API_KEY=APIbxtmBhfVWTLr
LIVEKIT_API_SECRET=bCIAQjNYmvkcD4pIfNXkKxybfGhWbIWterzAPe5kicBB

# Deepgram Configuration (for speech-to-text/text-to-speech)
DEEPGRAM_API_KEY=3fc810b413f13e54b6994b17660af6860b3c8995

# Google Configuration (for AI language model)
GOOGLE_API_KEY=AIzaSyA1ctcuWJuEQC7X3Cof9JA50JDBKAdVmNE

# Backend API (FastAPI) for transcripts and order extraction
NEXT_PUBLIC_BACKEND_URL=http://localhost:8000

.env.local
